SampleCode/AIdea Chatcher_dify.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: AIdea Chatcher
  use_icon_as_answer_icon: false
kind: app
version: 0.1.2
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: true
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: llm
      id: 1726354503318-llm
      source: '1726354503318'
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1726354503318-source-17263548605940-target
      source: '1726354503318'
      sourceHandle: source
      target: '17263548605940'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1726354503318-source-17263548645290-target
      source: '1726354503318'
      sourceHandle: source
      target: '17263548645290'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: llm-source-1726354883239-target
      source: llm
      sourceHandle: source
      target: '1726354883239'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 17263548605940-source-1726354883239-target
      source: '17263548605940'
      sourceHandle: source
      target: '1726354883239'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 17263548645290-source-1726354883239-target
      source: '17263548645290'
      sourceHandle: source
      target: '1726354883239'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1726354503318-source-17264295350330-target
      source: '1726354503318'
      sourceHandle: source
      target: '17264295350330'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 17264295350330-source-1726354883239-target
      source: '17264295350330'
      sourceHandle: source
      target: '1726354883239'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1726354883239-source-answer-target
      source: '1726354883239'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables: []
      height: 54
      id: '1726354503318'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: 'Resume: {{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: f173d289-41be-4d7b-8472-02e2607679be
          role: system
          text: 'You are an excellent career consultant. Please refer to the Resume
            and propose future scenarios that could be achieved by maximizing talents
            and potential.

            Carefully read the resume content and identify the person''s strengths,
            weaknesses, experiences, and talents.

            Based on the information obtained, consider several possible future occupations
            or goals that could be achieved.

            For each scenario considered, please evaluate and compare:

            How attractive is this future? (0-10 points)

            How well does it utilize the person''s talents and experiences? (0-10
            points)

            How realistic is it? (0-10 points)

            Based on the evaluation results, present a future scenario that maximizes
            potential.

            When presenting the future scenario, don''t be constrained by current
            location or limitations. Consider and present various possibilities from
            around the world.

            The future scenario should not only describe "what occupation they have"
            but also "what they are doing or have accomplished". (For example: Becoming
            a top-class soccer player and playing in the World Cup final. Becoming
            a scientist and developing a spacecraft to travel to outer space, etc.)'
        selected: false
        title: Career Consultant-A
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: llm
      position:
        x: 389
        y: 282
      positionAbsolute:
        x: 389
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: Final Proposal:{{#1726354883239.text#}}
        desc: ''
        selected: false
        title: Output
        type: answer
        variables: []
      height: 123
      id: answer
      position:
        x: 1093.318740252156
        y: 282
      positionAbsolute:
        x: 1093.318740252156
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: 'Resume: {{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: claude-3-5-sonnet-20240620
          provider: anthropic
        prompt_template:
        - id: f173d289-41be-4d7b-8472-02e2607679be
          role: system
          text: 'You are an excellent career consultant. Please refer to the Resume
            and propose future scenarios that could be achieved by maximizing talents
            and potential.

            Carefully read the resume content and identify the person''s strengths,
            weaknesses, experiences, and talents.

            Based on the information obtained, consider several possible future occupations
            or goals that could be achieved.

            For each scenario considered, please evaluate and compare:

            How attractive is this future? (0-10 points)

            How well does it utilize the person''s talents and experiences? (0-10
            points)

            How realistic is it? (0-10 points)

            Based on the evaluation results, present a future scenario that maximizes
            potential.

            When presenting the future scenario, don''t be constrained by current
            location or limitations. Consider and present various possibilities from
            around the world.

            The future scenario should not only describe "what occupation they have"
            but also "what they are doing or have accomplished". (For example: Becoming
            a top-class soccer player and playing in the World Cup final. Becoming
            a scientist and developing a spacecraft to travel to outer space, etc.)'
        selected: false
        title: Career Consultant-B
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '17263548605940'
      position:
        x: 389
        y: 445.04403398697764
      positionAbsolute:
        x: 389
        y: 445.04403398697764
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: 'Resume: {{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-pro-latest
          provider: google
        prompt_template:
        - id: f173d289-41be-4d7b-8472-02e2607679be
          role: system
          text: 'You are an excellent career consultant. Please refer to the Resume
            and propose future scenarios that could be achieved by maximizing talents
            and potential.

            Carefully read the resume content and identify the person''s strengths,
            weaknesses, experiences, and talents.

            Based on the information obtained, consider several possible future occupations
            or goals that could be achieved.

            For each scenario considered, please evaluate and compare:

            How attractive is this future? (0-10 points)

            How well does it utilize the person''s talents and experiences? (0-10
            points)

            How realistic is it? (0-10 points)

            Based on the evaluation results, present a future scenario that maximizes
            potential.

            When presenting the future scenario, don''t be constrained by current
            location or limitations. Consider and present various possibilities from
            around the world.

            The future scenario should not only describe "what occupation they have"
            but also "what they are doing or have accomplished". (For example: Becoming
            a top-class soccer player and playing in the World Cup final. Becoming
            a scientist and developing a spacecraft to travel to outer space, etc.)'
        selected: false
        title: Career Consultant-C
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '17263548645290'
      position:
        x: 389
        y: 603.3030538682356
      positionAbsolute:
        x: 389
        y: 603.3030538682356
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemini-1.5-pro-latest
          provider: google
        prompt_template:
        - id: 805c97c7-6376-40c3-a7e8-a1d046b6801d
          role: system
          text: 'You are a highly skilled Senior Career Consultant. Based on the four
            future scenarios proposed, please suggest a future vision that could maximize
            the individual''s talents and experiences.

            For each of the proposed scenarios, please evaluate and compare:

            How attractive is this future? (0-10 points)

            How well does it utilize the person''s talents and experiences? (0-10
            points)

            How realistic is it? (0-10 points)

            Based on this evaluation, identify and analyze the best option.

            Using the results of your analysis, present one future scenario that maximizes
            the individual''s potential.

            When presenting the future scenario, don''t be constrained by current
            location or limitations. Consider and present various possibilities from
            around the world.

            The future scenario should not only describe "what occupation they have"
            but also "what they are doing or have accomplished". (For example: Becoming
            a top-class soccer player and playing in the World Cup final. Becoming
            a scientist and developing a spacecraft to travel to outer space, etc.)'
        - id: 399f8113-4444-4f2a-ab06-6ef30bbda43b
          role: user
          text: 'Proposal1:{{#llm.text#}}

            Proposal2: {{#17263548605940.text#}}

            Proposal3:{{#17263548645290.text#}}

            Proposal4:{{#17264295350330.text#}}'
        selected: false
        title: Senior Consultant
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: true
      height: 98
      id: '1726354883239'
      position:
        x: 777.7245959298155
        y: 282
      positionAbsolute:
        x: 777.7245959298155
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        memory:
          query_prompt_template: 'Resume: {{#sys.query#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 10
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: llama-3.1-70b-versatile
          provider: groq
        prompt_template:
        - id: f173d289-41be-4d7b-8472-02e2607679be
          role: system
          text: 'You are an excellent career consultant. Please refer to the Resume
            and propose future scenarios that could be achieved by maximizing talents
            and potential.

            Carefully read the resume content and identify the person''s strengths,
            weaknesses, experiences, and talents.

            Based on the information obtained, consider several possible future occupations
            or goals that could be achieved.

            For each scenario considered, please evaluate and compare:

            How attractive is this future? (0-10 points)

            How well does it utilize the person''s talents and experiences? (0-10
            points)

            How realistic is it? (0-10 points)

            Based on the evaluation results, present a future scenario that maximizes
            potential.

            When presenting the future scenario, don''t be constrained by current
            location or limitations. Consider and present various possibilities from
            around the world.

            The future scenario should not only describe "what occupation they have"
            but also "what they are doing or have accomplished". (For example: Becoming
            a top-class soccer player and playing in the World Cup final. Becoming
            a scientist and developing a spacecraft to travel to outer space, etc.)'
        selected: false
        title: Career Consultant-D
        type: llm
        variables: []
        vision:
          enabled: false
      height: 98
      id: '17264295350330'
      position:
        x: 389
        y: 756.4605591444226
      positionAbsolute:
        x: 389
        y: 756.4605591444226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 39.364121896162374
      y: -39.56128666761877
      zoom: 0.8428802935124906
